@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');

:root {
    --background-color: #1b1b1b;
    --button-color: rgb(160, 160, 160);
    --font: 'Montserrat', sans-serif;
}

body {
    background-color: var(--background-color);
    font-family: var(--font);
    font-size: 12pt;
    font-weight: 400;
    color: white;
}

.flex {
    display: flex;
}

.wrapper {
    padding: 1em;
    align-content: center;
  
}

.index-content {
    padding: 10% 20% 0 20%;
    flex-direction: column;
    text-align: center;
}

.index-content h1 {
    font-size: 8em;
}

footer {
    position: absolute;
    left: 1em;
    bottom: 1em;
}

.btn {
    margin: 0 calc(50% - 2.5em) 0 calc(50% - 2.5em);
    padding: 0.5em 1em 0.5em 1em;
    font-size: 16pt;
    color: white;
    width: 5em;
    height: 2em;
    background-color: var(--button-color);
    border-radius: 5%;
    border: none;
}    