{% extends "layouts/base.html" %}

{% block title %} Hello! {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="card card-profile">
                <div class="card-body">
                    <h6 class="card-category text-gray">LOGIN SYSTEM WITH PYTHON FLASK FRAMEWORK</h6>
                    <h4 class="card-title">
                        Hello.
                    </h4>
                        <p>This is my student project on Python's Flask Framework as part of my web development studies at SAE Athens.</p> <br>
                        <p>It is a simple login system for websites or web apps, 
                        where I used basic web functions such as sessions, cookies, page redirection, HTTP requests & statuses. Also learned how to do the CRUD ops for an SQLite Database.</p> <br>
                        <p>The UI of this app is a free open-source Jinja html template, suitable to demonstrate the login system's functionality.</p> <br>
                        <p><i>Click the Login button below to explore the login system.</i></p> <br>
                    <a href="{{url_for('login_page')}}" class="btn btn-primary btn-round">Login</a>
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
